
$padding-value: 0em 1.1em;
$margin-left: 0.7em;

@mixin title-refs-style(){
    padding: $padding-value;
    text-decoration: none;
    margin-top: 2em;
    display: block;
    height: 32px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #221f1f;
}

.product-card__container{
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 0.5px solid lightgray;
    .product-card__title-img {
        position: relative;
        height: 150px;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            max-height: 100%;
            max-width: 100%;           
        }
    }
    .product-card__title-text{
        @include title-refs-style();
    }

    &:hover{
        box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .product-card__info{
        margin-top: 10px;
        .product-card__price-block{
            display: inline;
            padding: 0.4em;
            margin-left: $margin-left;
            border-radius: 4px;
        }

        .product-card__reviews{
            text-decoration: none;
            font-size: 9pt;
            margin-left: $margin-left;
            i{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}



.in-stock-icon{
    background-position: -790px -305px;
    width: 61px;
    height: 24px;
    bottom: 5px;
    left: 5px;
}

.reviews-icon{
    background-position: -595px -714px;
    width: 17px;
    height: 14px;
    top: 0;
    left: 0;
}


