
$padding-value: 0em 1.1em;
$margin-left: 0.9em;

@mixin title-refs-style(){
    padding: $padding-value;
    text-decoration: none;
    margin-top: 2em;
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: #221f1f;
}

@mixin descrition-style {
    padding: $padding-value;
    margin-top: 2em;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #221f1f;
}

.product-card__container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 0.3px solid rgb(223, 223, 223);

    .product-card__title-img {
        position: relative;
        height: 150px;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            max-height: 100%;
            max-width: 100%;           
        }
    }
    .product-card__title-text{
        @include title-refs-style();
    }

    &:hover{
        box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        height: 485px;
        z-index: 3;
        position: absolute;
    }

    .product-card__info{
        margin-top: 10px;
        .product-card__price-block{
            display: inline;
            padding: 0.4em;
            margin-left: $margin-left;
            border-radius: 4px;
        }

        .product-card__reviews{
            text-decoration: none;
            font-size: 9pt;
            margin-left: $margin-left;
            i{
                display: inline-block;
                vertical-align: middle;
            }
        }

        .product-card__tools-container{
            display: flex;
            margin: .7em 0em .7em $margin-left + 0.2;
            .tool-btn-buy a{
                display: block;
                padding: 4px 10px 5px;
                margin-right: 15px;
                background-image: url("https://i.rozetka.ua/h.06f86f/sprite.svg");
                background-position: -297px -798px;
                width: 24px;
                height: 23px;
            }

            .tool-btn-wish-list a{
                border: 1px solid transparent;
                border-radius: 3px;
                display: inline-block;
                padding: 4px 10px 5px;
                margin-right: 15px;
                background-position: -243px -798px;
                background-image: url("https://i.rozetka.ua/h.06f86f/sprite.svg");
                width: 26px;
                height: 23px;

                &:hover{
                    border: 0.5px solid rgb(223, 222, 222);
                }
            }

            .tool-btn-compare a{                
                border: 1px solid transparent;
                border-radius: 3px;
                display: inline-block;
                padding: 4px 10px 5px;
                background-position: -860px -447px;
                background-image: url("https://i.rozetka.ua/h.06f86f/sprite.svg");
                width: 30px;
                height: 23px;

                &:hover{
                    border: 0.5px solid rgb(223, 222, 222);
                }
            }
        }
    }

    .desc-text{
        @include descrition-style();
    }
}



.in-stock-icon{
    background-position: -790px -305px;
    width: 61px;
    height: 24px;
    bottom: 5px;
    left: 5px;
}

.reviews-icon{
    background-position: -595px -714px;
    width: 17px;
    height: 14px;
    top: 0;
    left: 0;
}


